<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- seo -%}
    {% include head-custom.html %}
</head>

<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
            <a class="site-title" rel="author" href="/">{{ site.title }}</a>
            <nav class="site-nav">
                <a href="/recipes/">Opskrifter</a>
                <a href="/tags/">Tags</a>
                <a href="/about/">Om</a>
            </nav>
        </div>
    </header>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    <footer class="site-footer">
        <div class="wrapper">
            <p>&copy; {{ site.time | date: '%Y' }} Cakes.dk • Inspiration til moderne kager</p>
        </div>
    </footer>
</body>

</html>